<div class="container-fluid">
<div class="row-fluid">
	
	<div class="span2">
			<ul class="nav nav-list">
				<ul class="nav nav-list">
				  <li class="active"><a href="http://hometeambar.com">Home</a></li>
				  <li><a href="https://twitter.com/HomeTeamBar">On Twitter</a></li>
				<li><a href="https://www.facebook.com/pages/HomeTeamBarcom/132253690255919">On Facebook</a></li>
				<li><a href="mailto:hometeambar@gmail.com">Know a bar?</a></li>
			</ul>
	 </div>
	
<div class="span10">
<div class="topbar">
<h1>
<div class="title">
HomeTeamB<i class="icon-search"></i>r
</div>
</h1>

<div class="fb-like" data-href="https://www.facebook.com/pages/HomeTeamBarcom/132253690255919" data-send="true" data-layout="button_count" data-width="450" data-show-faces="true" data-font="lucida grande"></div>

<div class="searchbackground">
<%= search_form_for @search do |f| %>
<%= f.text_field :name_cont, :class=> "search", :placeholder => "What sports team are you looking for?" %>
</div>  
<% end %>

</div>

<div class="results"> 	
<% if @search.result.blank? %>	
<div class="resultsmessage1">
"Boo! your search came up empty. We are always looking for bars to add to our database. If you know one, please shoot us an
<%= mail_to "hometeambar@gmail.com", "email.", :subject => "Hey I know of this bar..." %>"

</div>
<% else %>
<% if params[:q].present? %>
<div class="page-header">
  <h1>Search Results <small><%= pluralize(@search.result.count, 'bar') %> </small></h1>
</div>
<br>
<% @teams.each do |team| %>
<div class="eachresult"><br>
<div class="bar">
<b> <%= team.name %></b> @ 
<b><%= team.venue.name %></b><br>
</div>

<div class="baraddress">
<%= team.venue.address%><br>
<%=link_to 'Get Directions', "https://maps.google.com/?q=#{team.venue.name + " " + team.venue.address}"%>
</div> 
</div>
<% end %>
<% end %>
<% end %>
</div>

<div class="beta">
Beta - NYC only | HomeTeamBar Copyright 2012 ©
</div>

</div>
</div>	
</div>